* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EFEFEF;
}

[class^='stack'] > * {
  /* top and bottom margins in horizontal-tb writing mode */
  margin-block: 0;
}

.stack-3xs > * + * {
  margin-block-start: var(--space-3xs);
}

.stack-2xs > * + * {
  margin-block-start: var(--space-2xs);
}

.stack-xs > * + * {
  margin-block-start: var(--space-xs);
}

.stack-s > * + * {
  margin-block-start: var(--space-s);
}

.stack-m > * + * {
  margin-block-start: var(--space-m);
}

.stack-l > * + * {
  margin-block-start: var(--space-l);
}

.stack-xl > * + * {
  margin-block-start: var(--space-xl);
}

.stack-2xl > * + * {
  margin-block-start: var(--space-2xl);
}

.stack-3xl > * + * {
  margin-block-start: var(--space-3xl);
}

.stack-7xl > * + * {
  margin-block-start: calc(var(--space-3xl) + var(--space-4xl));
}

.ref {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-s-xl);
  margin-inline: var(--space-s-m);
}

.ref > * {
  flex: 1 1 33.33%;
  background-color: rgba(0, 0, 255, 0.1);
  padding: 2rem;
  box-sizing: border-box;
}

.index {
  padding: 4rem;
}

.module {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s-xl);
  margin-inline: var(--space-s-m);
  --threshold: 64rem;
}

.module > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
  /* background-color: rgba(255, 0, 0, 0.1); */
}

.module.col3 > :nth-child(2) {
  flex-grow: 2;
}

.module.col3 > .module-header {
  margin-block-end: var(--space-s);
}

.module-header h2 {
  max-inline-size: 14ch;
}

.module-header p {
  max-inline-size: 21ch;
}

@media screen and (max-width: 1080px) {
  .module-header h2 {
    max-inline-size: 24ch;
  }

  .module-header p {
    max-inline-size: 36ch;
  }
}
