.image-text-grid .module-content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s-xl);
}

.image-text-grid .module-content > * {
  flex: 1 1 21ch;
}

.image-text-grid .item .image {
  aspect-ratio: 4 / 3;
  background-color: #aaa;
}
