@font-face {
  font-family: "StabilGrotesk";
  src: url("/fonts/StabilGrotesk/StabilGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "StabilGrotesk";
  src: url("/fonts/StabilGrotesk/StabilGrotesk-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* @link https://utopia.fyi/type/calculator?c=375,19,1.2,1920,28,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

/************************************
 Fluid Setup
 ************************************/
:root {
  --fluid-min-width: 375;
  --fluid-max-width: 1920;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
  --fluid-bp-unitless: calc(
    (var(--fluid-screen) - var(--fluid-min-width)) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1920px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

/************************************
 Font Sizes
 * non-clamp() calculations
 * are commented out, using
 * the clamp() versions
 ************************************/
:root {
  /* --f--2-min: 14;
  --f--2-max: 18;
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

  --f--1-min: 16;
  --f--1-max: 24;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

  --f-0-min: 19;
  --f-0-max: 28;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 24;
  --f-1-max: 36;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 28;
  --f-2-max: 44;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 32;
  --f-3-max: 56;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 40;
  --f-4-max: 68;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 48;
  --f-5-max: 84;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );

  --f-6-min: 56;
  --f-6-max: 104;
  --step-6: calc(
    ((var(--f-6-min) / 16) * 1rem) + (var(--f-6-max) - var(--f-6-min)) *
      var(--fluid-bp)
  );*/

  --step--2: clamp(0.88rem, calc(0.81rem + 0.26vw), 1.13rem);
  --step--1: clamp(1.00rem, calc(0.88rem + 0.52vw), 1.50rem);
  --step-0: clamp(1.19rem, calc(1.05rem + 0.58vw), 1.75rem);
  --step-1: clamp(1.50rem, calc(1.32rem + 0.78vw), 2.25rem);
  --step-2: clamp(1.75rem, calc(1.51rem + 1.04vw), 2.75rem);
  --step-3: clamp(2.00rem, calc(1.64rem + 1.55vw), 3.50rem);
  --step-4: clamp(2.50rem, calc(2.08rem + 1.81vw), 4.25rem);
  --step-5: clamp(3.00rem, calc(2.45rem + 2.33vw), 5.25rem);
  --step-6: clamp(3.50rem, calc(2.77rem + 3.11vw), 6.50rem);

  /************************************
  Custom step pairs
  * non-clamp() calculations
  * are commented out, using
  * the clamp() versions
  ************************************/
  /* --f-5-3-min: 32.00;
  --f-5-3-max: 84.00;
  --step-5-3: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  ); */
  --step-5-3: clamp(2.00rem, calc(1.21rem + 3.37vw), 5.25rem);

  /************************************
  Letterspacing
  * convert min/max from Figma to px
  * then calc fluid interpolation
  ************************************/
  --ls-6-min: 0.84; /* calc(0.015 * --f-6-min) */
  --ls-6-max: 3.12; /* calc(0.03 * --f-6-max) */
  --ls-step-6: calc(
    (((var(--ls-6-min) / 16) * 1rem) + (var(--ls-6-max) - var(--ls-6-min)) *
      var(--fluid-bp)) * -1
  );

  --ls-5-min: 0.48; /* calc(0.01 * --f-5-min) */
  --ls-5-max: 2.1; /* calc(0.025 * --f-5-max) */
  --ls-step-5: calc(
    (((var(--ls-5-min) / 16) * 1rem) + (var(--ls-5-max) - var(--ls-5-min)) *
      var(--fluid-bp)) * -1
  );

  --ls-4-min: 0.2; /* calc(0.005 * --f-4-min) */
  --ls-4-max: 1.36; /* calc(0.02 * --f-4-max) */
  --ls-step-4: calc(
    (((var(--ls-4-min) / 16) * 1rem) + (var(--ls-4-max) - var(--ls-4-min)) *
      var(--fluid-bp)) * -1
  );

  --ls-3-min: 0; /* calc(0 * --f-3-min) */
  --ls-3-max: 0.84; /* calc(0.015 * --f-3-max) */
  --ls-step-3: calc(
    ((var(--ls-3-min) / 16) * 1rem) + (var(--ls-3-max) - var(--ls-3-min)) *
      var(--fluid-bp) * -1
  );

  --ls-2-min: 0; /* calc(0 * --f-2-min) */
  --ls-2-max: 0.44; /* calc(0.01 * --f-2-max) */
  --ls-step-2: calc(
    ((var(--ls-2-min) / 16) * 1rem) + (var(--ls-2-max) - var(--ls-2-min)) *
      var(--fluid-bp) * -1
  );

  --ls-1-min: 0; /* calc(0 * --f-1-min) */
  --ls-1-max: 0.18; /* calc(0.005 * --f-1-max) */
  --ls-step-1: calc(
    ((var(--ls-1-min) / 16) * 1rem) + (var(--ls-1-max) - var(--ls-1-min)) *
      var(--fluid-bp) * -1
  );

  --bls--1-min: 0.16; /* calc(0.01 * --f--1-min) */
  --bls--1-max: 0; /* calc(0 * --f--1-max) */
  --bls-step--1-precalc: calc(
    ((var(--bls--1-max) / 16) * 1rem) + (var(--bls--1-min) - var(--bls--1-max)) *
      var(--fluid-bp)
  );
  /* Because this has a larger min than max, remove * -1 from the function
  and swap min and max variables in the precalc. Then, subtract the precalc
  value from the min value as px: */
  --bls-step--1: calc(0.16px - var(--bls-step--1-precalc));

  --bls--2-min: 0.14; /* calc(0.01 * --f--2-min) */
  --bls--2-max: 0; /* calc(0 * --f--2-max) */
  --bls-step--2-precalc: calc(
    ((var(--bls--2-max) / 16) * 1rem) + (var(--bls--2-min) - var(--bls--2-max)) *
      var(--fluid-bp)
  );
  /* Because this has a larger min than max, remove * -1 from the function
  and swap min and max variables in the precalc. Then, subtract the precalc
  value from the min value as px: */
  --bls-step--2: calc(0.14px - var(--bls-step--2-precalc));



  /************************************
  Font weight
  ************************************/
  --fw-normal: 400;
  --fw-strong: 500;

  /************************************
  Line-heights
  ************************************/
  --lh-prose: 1.5em;
  --lh-body: 1.25em;
  --lh-heading-xl: 0.92em;
  --lh-heading-l: 1.0em;
  --lh-heading: 1.1em;
}

 /************************************
 Type styles
 ************************************/

.heading-s-2 {
  font-size: var(--step--2);
  font-weight: var(--fw-normal);
  line-height: var(--lh-heading);
  letter-spacing: 0;
}

.heading-s-1 {
  font-size: var(--step--1);
  font-weight: var(--fw-normal);
  line-height: var(--lh-heading);
  letter-spacing: 0;
}

.heading-s0 {
  font-size: var(--step-0);
  font-weight: var(--fw-normal);
  line-height: var(--lh-heading);
  letter-spacing: 0;
}

.heading-s1 {
  font-size: var(--step-1);
  font-weight: var(--fw-normal);
  line-height: var(--lh-heading);
  letter-spacing: var(--ls-step-1);
}

.heading-s2 {
  font-size: var(--step-2);
  font-weight: var(--fw-normal);
  line-height: var(--lh-heading);
  letter-spacing: var(--ls-step-2);
}

.heading-s3 {
  font-size: var(--step-3);
  font-weight: var(--fw-normal);
  line-height: var(--lh-heading-l);
  letter-spacing: var(--ls-step-3);
}

.heading-s4 {
  font-size: var(--step-4);
  font-weight: var(--fw-normal);
  line-height: var(--lh-heading-l);
  letter-spacing: var(--ls-step-4);
}

.heading-s5 {
  font-size: var(--step-5);
  font-weight: var(--fw-normal);
  line-height: var(--lh-heading-l);
  letter-spacing: var(--ls-step-5);
}

.heading-s5-3 {
  font-size: var(--step-5-3);
  font-weight: var(--fw-normal);
  line-height: var(--lh-heading-l);
  letter-spacing: var(--ls-step-5);
}

.heading-s6 {
  font-size: var(--step-6);
  font-weight: var(--fw-normal);
  line-height: var(--lh-heading-xl);
  letter-spacing: var(--ls-step-6);
}

[class^='heading'].heading-strong {
  font-weight: var(--fw-strong);
}

.body-s-2 {
  font-size: var(--step--2);
  font-weight: var(--fw-normal);
  line-height: var(--lh-body);
  letter-spacing: var(--bls-step--2);
}

.body-s-1 {
  font-size: var(--step--1);
  font-weight: var(--fw-normal);
  line-height: var(--lh-body);
  letter-spacing: var(--bls-step--1);
}

.body-s0 {
  font-size: var(--step-0);
  font-weight: var(--fw-normal);
  line-height: var(--lh-body);
  letter-spacing: 0;
}

.body-s1 {
  font-size: var(--step-1);
  font-weight: var(--fw-normal);
  line-height: var(--lh-body);
  letter-spacing: 0;
}

[class^='prose'] {
  font-family: "GT Super Text", serif;
}

.prose-s-1 {
  font-size: var(--step--1);
  font-weight: var(--fw-normal);
  line-height: var(--lh-prose);
  letter-spacing: 0;
}

.prose-s0 {
  font-size: var(--step-0);
  font-weight: var(--fw-normal);
  line-height: var(--lh-prose);
  letter-spacing: 0;
}

.prose-s1 {
  font-size: var(--step-1);
  font-weight: var(--fw-normal);
  line-height: var(--lh-prose);
  letter-spacing: 0;
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "StabilGrotesk", sans-serif;
  font-size: var(--step-0);
  font-weight: var(--fw-normal);
  line-height: var(--fw-body);
  letter-spacing: 0;
}
